@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
  }

  body{
    margin: 0;
    padding: 0;
    font-family: serif, sans-serif;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .left {
    background-image: url('./images/blue.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold; sans-serif
    display: flex;
    flex-direction: column;
  } 

  .a-footer {
    color: white;
  }

  .p-footer {
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
  }

  .forImage {
    height: 34vh;
    display: flex;
    align-items: flex-end;
  }

  .semi-transparent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
  }

    h1 {
    font-size: 50px;
  }

  .forFooter {
    height: 55vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;   
  }

  .first {
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;

  }

  .second {
    background-color: white;
    height: 33vh;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .form-main-div {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;
  }

  .form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  input{
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 20px;
    border-radius: 5px;
  }

    input:focus{
    border: 1px solid blue;
  }

  input:invalid {
    border: 1px solid red;
  }

  label {
    font-size: 10px;
    color: #4f525a;
  }

  #error {
    color: red;
    font-size: 11px;
    margin: 1px;
  }

  .btn-green {
    background-color: #596d48;
    color: white;
    border: 1px solid #596d48;
    border-radius: 5px;
    height: 30px;
    width: 170px;
    margin-left: 50px;
    margin-top: 25px;
    font-weight: bolder;
    font-size: small;
    box-shadow: 3px 4px #e5e7eb;
  }

  .third {
    height: 33vh;
  }

  .hyperlink {
    margin-left: 50px;
    margin-top: 25px;

  }

  .login {
    color: #596d48;
    text-decoration: none;
    font-weight: bold;
  }